[Keyboard_mapping]#
Steer Left            = A
Steer Right           = D
Accelerate            = W
Break/Reverse         = S
Hand Break            = Space
N.O.S                 = Left Shift
Transmission          = MANUAL
Gear Up               = Arrow Up
Gear Up             = Arrow Down

Cruise Control        = LEFT CTRL
Record Movements On   = -
Record Movements Off  = =

[Controller_mapping]
Steer Left            = controllerInput1
Steer Right           = controllerInput2
Accelerate            = controllerInput3
Break/Reverse         = controllerInput4
Hand Break            = controllerInput5
N.O.S                 = controllerInput6
Transmission          = controllerInput7
Gear Up               = controllerInput8
Gear Down             = controllerInput9

Cruise Control        = controllerInput10
Record Movements On   = controllerInput11
Record Movements Off  = controllerInput12
